html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/*Hero Image */

.Hero1 {

  background-image: url("../Images/HeroImage3.jpg");
  Width: 100%;
  height: 88vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.Hero2 {

  background-image: url("../Images/HeroImage1.jpg");
  Width: 100%;
  height: 88vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.Hero3 {

  background-image: url("../Images/HeroImage.jpg");
  Width: 100%;
  height: 88vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.Hero4 {

  background-image: url("../Images/HeroImage4.jpg");
  Width: 100%;
  height: 88vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}




/* MENU */
.mainNav ul {
    width: 100%;
    display:inline-block;
    text-align: center;
    list-style-type: none;
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
}

.mainNav ul li{
     display: inline-block;
     float: none;

}


.mainNav li a {
    text-transform: uppercase;
    font-family: "Verdana";
    display: inline-block;
    color: #000000;
    background-color: white;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    border: 3px solid #000000;
    margin: 10px 20px 10px 20px;
    font-weight: bold;
}

/*MenuTitle*/

.mainNav li h2 {
    text-transform: uppercase;
    font-family: "Verdana";
    display: inline-block;
    color: #000000;
    background-color: white;
    text-align: center;
    padding: 14px 10px 14px 10px;
    text-decoration: none;
    margin: 10px 8px 10px 8px;

}

.mainNav li a:hover {
    background-color: #cccccc;

}

#MenuName {

float: left;
border: none;
}

/*Shop*/

.ShopCom {

  margin: 0px 10% 0px 10%;
}

.ShopList {
  margin: 50px 0 0 0;
}

.ShopTitle, h1 {
 text-align: center;
 text-transform: uppercase;
 font-family: "Verdana";
 padding: 50px 0px 50px 0px;
}

/*Search Function*/

.Searchdiv .search-container {
  display: block;
  float: none;
  text-align: center;
  font-family: "Verdana";
  padding: 10px 10px 10px 10px;
  width: 50%;
  margin: 0px auto 50px auto;
  border: 3px solid #000000;
}

.Searchdiv input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 3px Solid black#ababab;
}

.Searchdiv .search-container button {
  float: none;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.Searchdiv .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .Searchdiv .search-container {
    float: none;
  }
  .Searchdiv a, .Searchdiv input[type=text], .Searchdiv .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .Searchdiv input[type=text] {
    border: 1px solid #ccc;
  }
}

.ShopDis {

  text-align: center;
  font-family: "Verdana";
  padding: 10px 10px 10px 10px;
  width: 50%;
  margin: 0px auto 50px auto;
  border: 3px solid #000000;
}

.shopcontainer {
  display: inline-block;
  margin: 10px 20px 10px 20px;
  width: 250px;
  border: 3px solid #000000;
  position: relative;
  transition: .5s ease;
  backface-visibility: hidden;
}

.ShopI1 {
  background-position: center;
  background-size:cover;
  background-image: url("../Images/Africa/1.jpg");
  Width: 100%;
  height: 250px;

}

.Item1 {
margin: 10px 8px 10px 8px;

}

.ShopI2 {
 background-position: center;
 background-size:cover;
  background-image: url("../Images/other/12.jpg");

  height: 250px;


}

.Item2 {
margin: 10px 8px 10px 8px;

}

.ShopI3 {
  background-position: center;
  background-size:cover;
  background-image: url("../Images/other/8.jpg");
  Width: 100%;
  height: 250px;

}

.Item3 {
margin: 10px 8px 10px 8px;

}

.ShopI4 {
  background-position: center;
  background-size:cover;
  background-image: url("../Images/other/7.jpg");
  Width: 100%;
  height: 250px;

}

.Item4 {
margin: 10px 8px 10px 8px;

}

.ShopI5 {
  background-position: center;
  background-size:cover;
  background-image: url("../Images/other/6.jpg");
  Width: 100%;
  height: 250px;

}

.Item5 {
margin: 10px 8px 10px 8px;

}

.ShopI6 {
  background-position: center;
  background-size:cover;
  background-image: url("../Images/other/5.jpg");
  Width: 100%;
  height: 250px;

}

.Item6 {
margin: 10px 8px 10px 8px;

}

.ShopI7 {
  background-position: center;
  background-size:cover;
  background-image: url("../Images/other/4.jpg");
  Width: 100%;
  height: 250px;

}

.Item7 {
margin: 10px 8px 10px 8px;

}

.ShopI8 {
  background-position: center;
  background-size:cover;
  background-image: url("../Images/other/3.jpg");
  Width: 100%;
  height: 250px;

}

.Item8 {
margin: 10px 8px 10px 8px;

}

.ShopI9 {
  background-position: center;
  background-size:cover;
  background-image: url("../Images/other/10.jpg");
  Width: 100%;
  height: 250px;

}

.Item9 {
margin: 10px 8px 10px 8px;

}

.ShopI9 {
  background-position: center;
  background-size:cover;
  background-image: url("../Images/other/9.jpg");
  Width: 100%;
  height: 250px;

}

.Item9 {
margin: 10px 8px 10px 8px;

}

.ShopI10 {
  background-position: center;
  background-size:cover;
  background-image: url("../Images/other/1.jpg");
  Width: 100%;
  height: 250px;

}

.Item10 {
margin: 10px 8px 10px 8px;

}


.items {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.shopcontainer:hover .items{
  opacity: 0.3;
}

.shopcontainer:hover .middle {
  opacity: 1;
}

.shoptext{
  background-color: #000000;
  color: #26a136;
  font-size: 16px;
  padding: 16px 16px 16px 16px;
}

.shoptext, a {

  color: #ffffff;
}

/*Footer*/

.footermain {
margin-top: 50px;
  background-color: #0e0d0d;
  height: 550px;
  width: 100%;

}



.Side2 {
  text-align: center;
  font-family: "Verdana";
  display: block;
    padding: 25px 0px 0px 0px;
    color: #ffffff;

}



.Side4 {
  text-align: center;
  display: block;
  padding: 50px 0px 25px 0px;
  margin: auto;
  list-style-type: none;

}

.Side4 ul{
  display: block;
  text-align: center;
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.Side4 .Footerul li{
  display: block;
  text-align: center;
  list-style-type: none;
  margin: auto;
}

.Side4 h2{
  font-family: "Verdana";
  color: white;
}

.Side4 .Footerul a{
  display: block;
  width: 250px;
  text-transform: uppercase;
  font-family: "Verdana";
  color: #000000;
  background-color: white;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  border: 3px solid #000000;
  margin: auto;
  font-weight: bold;

}

/* Order Page */

.Orderpage {
  width: 100%;
  margin: 50px 0px 50px 0px;
  display: inline-block;
}

.Tablemix1 {
  display: inline-block;
  background-color: green;
  width: 10%;
  height: 800px;

  float: left;
}

.Ordertable {
  text-align: center;
  display: inline-block;

  width: 80%;
  vertical-align: middle;
  background-color: red;

}


.Ordertable th{
  border: 3px solid black;
  padding: 0px 150px 0px 150px;

}

.Ordertable tr{
  padding: 0px 150px 0px 150px;
background-color: white;



}

.Ordertable td{




}

#ProductInfo{
  width: auto;
}


.Tablemix2 {
  display: inline-block;
  background-color: green;
  width: 10%;
  height: 800px;
  margin: auto;

  float: right;

}

/*End */
